.navbar {
    background-color: var(--ink);
    color:white;
    padding: 25px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 30px;
    font-weight: bold;
}


.navbar-button {
    background:white;
    color: var(--ink);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.navbar-button:hover {
  background: #333;
  color: white;
}